$main-color: #33d0db;
$footer-color: #f2f2f2;
$text-color : rgba(255, 255, 255, 0.8);
$button-color: rgba(108, 152, 235, 0.4);
$container-color: '#f2f2f2';
$description-title: '#898989';
$back-button-color: '#1e5da8';